@import "tailwindcss";


@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.input-style {
  @apply p-3 rounded-lg w-full border border-gray-300 
  dark:border-gray-600 bg-white/70 dark:bg-gray-800 text-gray-800 dark:text-white 
  shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 
  transition duration-300 hover:shadow-md;
}
